.form-group {
  margin-bottom: 20px;
}

.card-title {
  margin-top: 1rem !important;
}

.buttons {
  display: flex;
  justify-content: center;
}

.create-account-button {
  margin-right: 0.5rem;
}

.form-group label {
  margin-right: 10px;
}
